/*@import url(http://reset5.googlecode.com/hg/reset.min.css);*/
*{
	padding: 0;
	margin: 0;
}

label/*, input*/{
	display: inline;
}

label{
	margin-bottom: 10px;
}

body{
	font-family: sans-serif;
	background-color: #eee;
	min-width: 1000px;
}

#header_reg{
	height: 80px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

#header_reg img{
	padding-left: 200px;
}

#content_reg{
	width: 60%;
	min-width: 1000px;
	max-width: 1500px;
	/*height: 100%;*/
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 12px;
	margin: 5px auto;
	padding: 10px 0;
}

#content_reg h1{
	font-weight: normal;
	font-size: 1.7em;
	text-align: center;
	margin: 30px 0 30px;
	color: #222;
}

#steps{
	width: 80%;
	margin: 0 auto;
	height: 200px;
}

#steps:after{
	content: "";
	clear:both;
}

#steps .step{
	width: 33%;
	float: left;
	text-align: center;
}

#steps .step span{
	display: block;
	font-size: 1.4em;
	font-weight: lighter;
}
#steps .step p{
	font-size: 1.1em;
	color: #444;
}

#form_reg{
	width: 65%;
	margin: 20px auto 20px;
}

#form_reg input{
	width: 380px;
	outline: none;
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 5px 0;
	margin-bottom: 10px;
	margin-right: 20px;
	padding-left: 1px;
}

#form_reg input:focus{
	border: 2px solid #4cf;
	border-radius: 5px;
	color: #000;
	outline: none;
}

#form_reg label{
	font-family: serif;
	font-weight: bolder;
	color: #111;
}

#form_reg input[type="submit"]{
	padding: 8px;
	color: #fff;
	background-color: #e56;
	font-size: 1.1em;
	border-radius: 8px;
	border: none;
}
#form_reg input[type="submit"]:focus{
	border: none;
}

#form_reg .info_reg{
	color: #666;
	font-size: 0.6em;
	background-color: #eee;
	padding: 10px;
	width: 380px;
	border-radius: 5px;
}


#server_error{
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 200px;
	background-color: #e56;
	border-radius: 15px;
	padding: 30px;
	color: #fff;
	font-size: 0.9em;
}

.error{
	display: inline;
}